<div id="catalog" class="products">
    Категории
    <div>
        <a href="#">Защита для мотоцикла</a>
        <a href="#">Расходные материалы</a>
    </div>
    <div>
        <a href="#">Масло и мотохимия</a>
        <a href="#">Мотозапчасти</a>
    </div>
</div>
<script src="/js/catalog.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", event => {
        let catalog = new Products('catalog', {{ page_size }});
        catalog.fillVisible();
    });
</script>