<div id="catalog" class="products">
    <div class="category">
        <div>
        Категории:
            <button>Защита для мотоцикла</button>
            <button>Расходные материалы</button>
            <button>Масло и мотохимия</button>
            <button>Мотозапчасти</button>
        </div>
        <div>
        Сортировать по:
            <button>Цена по убыванию</button>
            <button>Цена по возрастанию</button>
            <button>По алфавиту</button>
        </div>
    </div>
</div>
<script src="/js/catalog.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", event => {
        let catalog = new Products('catalog', {{ page_size }});
        catalog.fillVisible();
    });
</script>