<h2>Подбор запчастей по вашему мотоциклу</h2>
<select name="select__brand" id="select-1">
	<option selected hidden>Марка</option>
	{% for value in item %}
		<option value="{{ value.id }}" class="brand">{{ value.name }}</option>
	{% endfor %}
</select>
<select name="select__model" id="select-2" disabled>
	<option class="models76876" selected hidden>Модель</option>
</select>
<select name="select__volume" id="select-3" disabled>
	<option selected hidden>Объём</option>
</select>
<button class="filteres" disabled>Подобрать</button>
<div class="products"></div>
<script src="/js/filteres.js"></script>
