<div class="filters">
    <div>
        <h2>Подбор запчастей по вашему мотоциклу</h2>
    </div>
    <form>
        <select name="select1">
            <option value="value1" selected>Марка</option>
            <option value="value1">Значение 1</option>
            <option value="value2" >Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
        <select name="select2">
            <option value="value1" selected>Объём</option>
            <option value="value1">Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3" >Значение 3</option>
        </select>
        <select name="select3">
            <option value="value1" selected>Модель</option>
            <option value="value1" >Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
        <select name="select4">
            <option value="value1" selected>Год выпуска</option>
            <option value="value1" >Значение 1</option>
            <option value="value2">Значение 2</option>
            <option value="value3">Значение 3</option>
        </select>
        <button type="submit">Подобрать</button>
    </form>
</div>